html,
body {
    margin: 0;
    padding: 0;
    background-color: #cc9900;
    text-align: center;
}

h1,
h2 {
    color: rgb(117, 15, 8);
}

h3, 
p,
li {
    color: rgb(128, 53, 0);
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: cc9900;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: rgb(153, 125, 64);
    margin-right: 25px;
}

nav a:hover {
    color: rgba(233, 172, 128, 0.902);
}

#banner {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

#banner img {
    width: 60%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

.navbar {
    background-color: #993300;
    padding: 12px 6px;
  }
  
  .navbar .navlinks {
    max-width: 500px !important;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
  .bannerimage {
    width: 60%;
    align-items: center;
  }

.menutabbanner{
  width: 60%;
    align-items: center;
  }

  .aboutbannerimg{
    width: 60%;
    align-items: center;
  }
.opensign{
    width: 60%;
    align-items: center;
}